@font-face {
    font-family: LatoBlack;
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: LatoLight;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: MerriweatherLight;
    src: url("../fonts/Merriweather Light.ttf");
}

@font-face {
    font-family: MerriweatherBold;
    src: url("../fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: MerriweatherRegular;
    src: url("../fonts/Merriweather-Regular.ttf");
}

/* General Styles */

h1 {
    font-size: 72px;
    font-family: LatoBlack;
}

/* Index page */

.header-big {
    padding-top: 200px;
    padding-bottom: 200px;
}

.description {
    font-family: MarriweatherRegular;
    font-size: 24px;
}