@font-face {
    font-family: LatoBlack;
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: LatoLight;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: LatoRegular;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: MerriweatherLight;
    src: url("../fonts/Merriweather Light.ttf");
}

@font-face {
    font-family: MerriweatherBold;
    src: url("../fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: MerriweatherRegular;
    src: url("../fonts/Merriweather-Regular.ttf");
}

/* General Styles */

body {
    font-family: MerriweatherLight;
}

h1 {
    color: #1d1d1b;
    font-size: 72px;
    font-family: LatoBlack;
}

h3 {
    color: #1d1d1b;
    font-size: 36px;
    font-family: LatoBlack;
    margin-bottom: 30px;
    margin-top: 120px;
}

h4 {
    color: #1d1d1b;
    font-size: 24px;
    font-family: LatoBlack;
    margin-bottom: 30px;
}

h5 {
    color: #575756;
    font-family: MerriweatherLight;
    font-style: italic;
    font-size: 16px;
    margin-top: 40px;
}

.special-header {
    position:relative;
    padding-top: 200px;
    padding-bottom: 200px;
}

.special-header:after {
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    background-color: #1d1d1b;
    left: 50%;
    top: 330px;
    transform: translateX(-50%);
    position: absolute;
}

.nav-breadcrumb {
    background-color: #fcfcfb;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 25px 15px;
}

.nav-breadcrumb h4 {
    margin: 0;
}

.nav-breadcrumb .btn-close {
    background-color: transparent;
    border: 0;
}

.nav-breadcrumb .btn-close img{
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 25px;
}



/* Navbar */

.navbar-brand img {
    width: 160px;
}

ul.nav.navbar-nav {
    margin-left: 220px
}

.navbar-nav > li > a, .navbar-header a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-header a.active {
    padding-top: 0;
}

.navbar-header a.active img{
    border-top: 4px solid #b21919;
    padding-top: 16px;
}

.navbar-default {
    background: transparent;
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
}

.navbar li.active a{
    border-top: 4px solid #b21919;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #b21919;
    padding-top: 16px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #b21919;
}

.navbar li{
    padding-left: 40px;
    padding-right: 40px;
}

.navbar li a {
    color: #1d1d1b;
    font-family: LatoRegular;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #1d1d1b;
}

.navbar-right li{
    padding-left: 0;
    padding-right: 0;
    font-family: MerriweatherBold;
}

.navbar-right li.enabled a{
    font-family: MerriweatherLight;
    text-decoration: underline;
}

.navbar-right li:first-of-type a:after {
    content: "/";
    display: inline-block;
}

/* Index page */

.header-big {
    padding-top: 200px;
    padding-bottom: 200px;
}

.description {
    font-family: MarriweatherRegular;
    font-size: 24px;
}

.description .links {
    margin-top: 50px;
}

.description .links a {
    display: block;
    color: #b21919;
    text-decoration: underline;
    margin-bottom: 5px;
}

/* Was wir tun page */

.skills ul{
    list-style-type: none;
    padding: 0;
}

.skills h4 {
    font-size: 20px;
    font-family: LatoRegular;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.skills li li {
    display: inline-block;
}

.skills li a {
    color: #1d1d1b;
    font-size: 16px;
}

.skills li a:hover {
    color: #b21919;
    text-decoration: underline;
}

.skills li li:not(:last-of-type) {
    padding-right: 20px;
    position: relative;
}

.skills li li:not(:last-of-type):after {
    content: '';
    display: block;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    background-color: #1d1d1b;
    position: absolute;
    top: calc(50% - 1.5px);
    right: 7px;
}

/* Agentur page */
.art p{
    color: #575756;
    font-family: MerriweatherLight;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
}

.art strong {
    font-family: MerriweatherBold;
}

.art p a {
    color: #b21919;
}

.art p a:hover {
    color: #b21919;
    text-decoration: underline;
}

.contact-info-box .smart-text {
    font-size: 24px;
    color: #575756;
    font-family: MerriweatherLight;
    margin-top: 200px;
}

.contact-info-box a {
    font-size: 36px;
    color: #575756;
    font-family: LatoBlack;
    margin-top: 50px;
    text-decoration: underline;
}

.testimonial img {
    margin-top: 70px;
}

.testimonial p {
    font-family: MerriweatherLight;
    font-size: 14px;
    line-height: 25px;
    color: #575756;
    margin-top: 30px;
}

.testimonial p .name{
    font-family: LatoBold;
}

/* Single Project page style */
.project-description p{
    font-family: MerriweatherLight;
    font-size: 16px;
    color: #575756;
    line-height: 30px;
}

.project-details a {
    color: #b21919;
    text-decoration: underline;
}

.project-details .inline-list {
    list-style-type: none;
    padding: 0;
}

.project-details .inline-list li{
    color: #575756;
    display: inline-block;
}

.project-details .inline-list li:not(:last-of-type):after {
    content: ","
}

/* Kontakt page style */
.special-header-background {
    background-image: url("../img/contact-bw-cut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.special-header-background h1 {
    color: #fff;
}

.special-header-background:after {
    background-color: #fff;
}

.contact p {
    color: #575756;
    font-family: MerriweatherLight;
    font-size: 16px;
    line-height: 34px;
    margin-top: 50px;
}

.contact a {
    color: #0f3e67;
    text-decoration: underline;
}

.contact h2 {
    color: #1d1d1b;
    font-size: 36px;
    font-family: LatoBlack;
    margin-top: 130px;
}

.contact-simple-box img {
    height: 60px;
    display: block;
    margin: 30px auto;
}

.contact-simple-box a {
    font-size: 20px;
    font-family: LatoBold;
}

/* Footer style */
footer {
    color: #706f6f;
    position: relative;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: MerriweatherLight;
    font-size: 14px;
}

footer:before {
    position:absolute;
    top: -2px;
    left: 15px;
    width: 150px;
    height: 2px;
    background-color: #a2a2a1;
}

footer .footer-icon img{
    height: 20px;
    width: 20px;
}

footer a {
    color: #706f6f;
    margin-right: 5px;
}

footer a:hover {
    color: #706f6f;
}

footer .pull-right a {
    margin-right: 0;
    margin-left: 10px;
}